<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>

<h2>Complete el formulario de contacto</h2>

<form action="/guardar" method="POST">
    Nombre: <input type="text" name="nombre" required><br>
    Apellido: <input type="text" name="apellido" required><br>
    Correo: <input type="email" name="correo" required><br>
    Celular: <input type="text" name="celular" required><br>
    Horario: <input type="text" name="horario" required><br>

    <button type="submit">Enviar</button>
</form>

</body>
</html>